/*
Theme name: 3 Drinks Productions
Author: James Lott
Author URI: http://lottspot.com
Description: A custom theme taylored for 3 Drinks Productions LLC
Version: 0.7.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: 3drinksproductions
 */

<?php header("Content-type: text/css; charset: UTF-8"); ?>  

/*
 * If images and alignments within posts are not spacing or aligning correctly,
 * uncomment the following code block
 */

/*img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	padding: 4px;
	margin: 0px 7px 2px 0px;
	display: inline;
}

img.alignright {
	padding: 4px;
	margin: 0px 0px 2px 7px;
	display: inline;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	padding: 4px;
	margin: 0px 7px 2px 0px;
	display: inline;
}

.alignright {
	padding: 4px;
	margin: 0px 0px 2px 7px;
	display: inline;
}*/


/*End alignment fix code block*/


body {
	background-color: #000000;
}

#page-container {
	background-color: #000000;
	width: 800px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 40px;
}

#header {
	background-color: #000000;
	width: 800px;
	position: relative;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Economica', Arial, sans-serif;
	color: white;
}

p {
	font-family: 'Galdeano', Arial, sans-serif;
	color: #ffffff;
}

a, a:visited {
	text-decoration: none;
	color: #ffffff;
}

a:active, a:hover {
	color: red;
} 

ul, ol {
	font-family: 'Galdeano', Arial, sans-serif;
	color: #ffffff;
}

img {
	border-style: none;
}

#watermark-container {
	width: 521px;
	height: 248px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cccccc;
	background-image: -moz-linear-gradient(top, #cccccc, #292929);
	background-image: -webkit-linera-gradient(top, #cccccc, #292929);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#292929));
	background-image: -o-linear-gradient(top, #cccccc, #292929);
	background-image: -ms-linear-gradient(top, #cccccc, #292929);
}

#description-index {
	text-align: center;
	margin-top: 20px;
}

#social-banners {
	margin: 40px auto 0px auto;
	width: 322px;
}

#banner-rss {
	display: inline;
}

#banner-fb {
	display: inline;
}

#banner-twitter {
	display: inline;
}

#social-banners > .fb-like {
	display: block;
	margin: 0 auto;
	width:46px;
}

#entrance {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#entreance a:active, #entrance h2:hover {
	color: red;
} 

#on-set-container {
	width: 287px;
	height: 220px;
	background: gray;
	position: absolute;
	left: 410px;
	top: 505px;
}

#toast-container {
	width: 314px;
	height: 220px;
	background: gray;
	position: absolute;
	right: 410px;
	top: 505px;
}

#toast {
	position: relative;
	left: 10px;
	top: 10px;
}

#on-set {
	position: relative;
	left: 10px;
	top: 10px;
}

#index-post {
	width: 521px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 300px;
	border-radius: 25px;
	padding: 5px 40px;
	margin-bottom: 400px;
	background-color: #cccccc;
	background-image: -moz-linear-gradient(top, #1f1f1f, #050505);
	background-image: -webkit-linera-gradient(top, #1f1f1f, #101010);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1f1f1f), to(#101010));
	background-image: -o-linear-gradient(top, #1f1f1f, #101010);
	background-image: -ms-linear-gradient(top, #1f1f1f, #101010);
}

#index-post ul, #index-post ol {
  color: #ffffff;
}

#index-post a, #index-post a:visited {
	text-decoration: none;
	color: #ffffff;
}

#index-post a:active, #index-post a:hover {
	color: red;
} 

#index-date-author {
	float: right;
	text-align: right;
}

#index-content {
	position: relative;
	margin-top: 30px;
}

#index-post-title {
	
}

#index-post-title a {
	
}

#header-right-container {
	position: absolute;
	top: 30px;
	right: 0px;
	text-align: right;
	width: 350px;
}

#header-image {
  position: relative;
  right: 40px;
}

#social-icons {
	margin-right: 0px;
	margin-left: 220px;
}

#social-icons > .fb-like {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 46px;
}

#menu-back {
	width: 100%;
	height:42px;
	background-color: #11111A;
	background-image: -moz-linear-gradient(top, #11111A, #050508);
	background-image: -webkit-linera-gradient(top, #11111A, #050508);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#11111A), to(#050508));
	background-image: -o-linear-gradient(top, #11111A, #050508);
	background-image: -ms-linear-gradient(top, #11111A, #050508);
	position: absolute;
	top: 275.5px;
	z-index: 10;
	*z-index: -100;
	*background-color: #000000;
	
}


.menu {
	font-family: Acme, Arial, sans-serif;
	position: relative;
	height: 40px;
	width: 100%;
	background-color: #11111A;
	background-image: -moz-linear-gradient(top, #11111A, #050508);
	background-image: -webkit-linera-gradient(top, #11111A, #050508);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#11111A), to(#050508));
	background-image: -o-linear-gradient(top, #11111A, #050508);
	background-image: -ms-linear-gradient(top, #11111A, #050508);
	z-index: 50;
}

.menu ul{
	height: 100%;
}

.menu li {
	display: inline-block;
	*display: inline;
	padding: 0;
	margin: 0px;
	height: 100%;
}

.menu a {
	display: block;
	*display: inline;
	text-decoration: none;
	color: red;
	padding: 11px 10px 11px 10px;

}

.menu a:visited {
	color: red;
}

.menu a:hover, .menu a:active {
	color: #000000;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #b2b2b2, #ffffff);
	background-image: -webkit-linera-gradient(top, #b2b2b2, #ffffff);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b2b2b2), to(#ffffff));
	background-image: -o-linear-gradient(top, #b2b2b2, #ffffff);
	background-image: -ms-linear-gradient(top, #b2b2b2, #ffffff);
}

.content {
  margin-left: 0px;
  width: 550px;
}

.content ul, .content ol {
  color: #ffffff;
}

.news-post {
	color: #ffffff;
	margin-top: 40px;
	margin-bottom: 40px;
	border: 1px dotted red;
	padding: 0px 15px 0px 15px;
	margin-left: 0px;
	width: 550px;
}
.news-post a, .news-post a:visited {
	text-decoration: none;
	color: #ffffff;
}

.news-post a:active, .news-post a:hover {
	color: red;
}

.news-post ul, .news-post ol {
  color: #ffffff;
}

.news-date-author {
	float: right;
}

.news-content {
	margin-top: 40px;
}

.video-title {
  position: relative;
  left: 30px;
}

.video-post {
	text-align: center;
	color: white;
	margin-bottom: 50px;
	margin-left: 0px;
	width: 598px;
	position: relative;
	right: 50px;
}

.video-post ul, .video-post ol {
  color: #ffffff;
}

.bottom-rule {
	margin-top: 50px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	height: 2px;
	position: relative;
	left: 30px;
}

#sidebar {
	float: right;
	width: 200px;
	margin-bottom: 20px;

} 

#contact-box {
	border-radius: 5px;
	background-color: gray;
	padding: 1px 10px;
	margin-bottom: 10px;
}

.contact-info {
	margin: 10px auto;
	color: white;
}

.contact-info h5 {
	display: inline;
}

.contact-info p {
	display: inline;
	font-size: 10pt;
} 

.contact-info a, .contact-info a:visited {
	text-decoration: none;
	color: #ffffff;
}

.contact-info a:active, .contact-info a:hover {
	color: red;
} 

#email-box {
  border-radius: 5px;
  background-color: gray;
  padding: 1px 10px;
}

#email-box p {
  font-size: 10pt;
  display: inline;
}

#email-box h3 {
  display: inline;
}

#email-form {
  margin-top: 15px;
}

#bookmarks ul {
	color: #ffffff;
}

#bookmarks a, #bookmarks a:visited {
	text-decoration: none;
	color: #ffffff;
}

#bookmarks a:active, #bookmarks a:hover {
	color: red;
	text-decoration: underline;
} 

#archive {
  margin-left: 0px;
  width: 550px;
}

#archive ul {
	color: #ffffff
}

#archive a, #archive a:visited {
	text-decoration: none;
	color: #ffffff;
}

#archive a:active, #archive a:hover {
	color: red;
}

#error-container {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

#error-heading {
	color: white;
}

/*domain(<?php echo $_SERVER['HTTP_HOST'] ?>)*/

@-moz-document domain() {
	#menu-back {
	  width: 100%;
	  height:42px;
	  background-color: #000000;
	  background-image: -moz-linear-gradient(top, #11111A, #050508);
	  background-image: -webkit-linera-gradient(top, #11111A, #050508);
	  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#11111A), to(#050508));
	  background-image: -o-linear-gradient(top, #11111A, #050508);
	  background-image: -ms-linear-gradient(top, #11111A, #050508);
	  position: absolute;
	  top: 302px;
	  z-index: 10;
	}

}